<a href="https://colab.research.google.com/github/yiningz5/istm-homework/blob/main/ISTM631_2nd_session_10_29_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Structures in Python

In [ ]:
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [ ]:
type(tuple1)

tuple

In [ ]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
tuple1[-1]

1.2

In [ ]:
print(tuple1[0][1])

i

In [ ]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
tuple2[0][0:3]

'dis'

In [ ]:
len(tuple2)

5

In [ ]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [ ]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

* We can start from Ratings[0] and put it as the first variable in the new tuple RatingsSorted.


* We move on to Ratings[1], if it is larger than RatingsSorted[0] we move it to RatingsSorted[1], otherwise we change their positions.

* ...

**homework1: describe the difference of tuple and list**

1.The main difference between tuple and list is that tuple is immutable while the list is mutable.

2.Also, the list is better in performing operations while the tuple is more about accessing the elements in it.

In [ ]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [ ]:
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [ ]:
print(NestedT[2][1][2])

c

In [ ]:
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

Lists

In [ ]:
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [ ]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [ ]:
["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [ ]:
L[3:5]

[]

In [ ]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

Lists are mutable

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [ ]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [ ]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [ ]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

Copy vs clone

In [ ]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsRef.png" width="1000" align="center">

In [ ]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [ ]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsVal.gif" width="1000" />

In [ ]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

Dictionaries

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsList.png" width="650" />

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{(0, 1): 6,
 'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5}

In [ ]:
# Access to the value by the key

Dict["key1"]

1

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

6

In [ ]:
L[2]

['pop', 10]

In [ ]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsStructure.png" width="650" />

In [ ]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [ ]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [ ]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [ ]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Graduation': '2007',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

In [ ]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976'}

In [ ]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

**homework 2:**

The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:


a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values. 

b) Use the dictionary to find the total sales of <b>Thriller</b>:

c) Find the names of the albums from the dictionary using the method <code>keys</code>:

a.

In [3]:
album_sales_dict = {"Back in Black":50, "The Bodyguard":50, "Thriller":65}

b.

In [4]:
album_sales_dict["Thriller"]

65

c

In [5]:
album_sales_dict.keys()

dict_keys(['Back in \x08Black', 'The Bodyguard', 'Thriller'])

# Sets

A set is a unique collection of objects in Python. You can denote a set with a curly bracket <b>{}</b>. Python will automatically remove duplicate items:

In [ ]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [ ]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

you are given a text, decide on an algorithm that decides if you have repeated letters in the text or not.

In [ ]:
text = 'Arash'

L1 = text.split()

D1 = set(L1)

len(D1) == len(L1)

True

modify the code to make it work correctly.

['ARASH']

In [ ]:
A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [ ]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [ ]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [ ]:
# Verify if the element is in the set

"AC/DC" in A

True

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsSamples.png" width="650" />

In [ ]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLogic.png" width = "650" />

In [ ]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [ ]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLeft.png" width="650" />

In [ ]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsIntersect.png" width="650" />

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnion.png" width="650" />

In [ ]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [ ]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [ ]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [ ]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
test_list = [100,200,300]
pd.Series(data=test_list)

0    100
1    200
2    300
dtype: int64

In [ ]:
dictionary = {'a':100,'b':200,'c':300}
pd.Series(data=dictionary)

a    100
b    200
c    300
dtype: int64

In [ ]:
data = [['thomas', 100], ['nicholas', 200], ['danson', 300]] 
df = pd.DataFrame(data, columns = ['Name', 'Age'])
df

       Name  Age
0    thomas  100
1  nicholas  200
2    danson  300

In [ ]:
data = {'name': ['thomas','nicholas','danson','jack'], 'age':[100,200,300,400]}

df = pd.DataFrame(data)

df

       name  age
0    thomas  100
1  nicholas  200
2    danson  300
3      jack  400

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
col=['sepal_length','sepal_width','petal_length','petal_width','type']

iris = pd.read_csv(url, names = col)

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width         type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   type          150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
iris.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
type             3
dtype: int64

In [ ]:
iris['petal_length'].unique()

array([1.4, 1.3, 1.5, 1.7, 1.6, 1.1, 1.2, 1. , 1.9, 4.7, 4.5, 4.9, 4. ,
       4.6, 3.3, 3.9, 3.5, 4.2, 3.6, 4.4, 4.1, 4.8, 4.3, 5. , 3.8, 3.7,
       5.1, 3. , 6. , 5.9, 5.6, 5.8, 6.6, 6.3, 6.1, 5.3, 5.5, 6.7, 6.9,
       5.7, 6.4, 5.4, 5.2])

In [ ]:
df = iris[['petal_length','petal_width']]

In [ ]:
df.head()

   petal_length  petal_width
0           1.4          0.2
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2
4           1.4          0.2

In [ ]:
df.drop(['petal_length'], axis = 1, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df.iloc[20:30]

    petal_width
20          0.2
21          0.4
22          0.2
23          0.5
24          0.2
25          0.2
26          0.4
27          0.2
28          0.2
29          0.2

In [ ]:
df[df['petal_width']>0.5]

    petal_width
69          1.1
70          1.8
71          1.3
72          1.5
73          1.2
74          1.3
75          1.4
76          1.4
77          1.7
78          1.5

In [ ]:
df.describe()

       petal_width
count   150.000000
mean      1.198667
std       0.763161
min       0.100000
25%       0.300000
50%       1.300000
75%       1.800000
max       2.500000

In [ ]:
df[df['petal_width']>0.5].iloc[20:30].median()

petal_width    1.4
dtype: float64

In [ ]:
df[df['petal_width']>0.5].iloc[20:30].std()

petal_width    0.214994
dtype: float64

In [ ]:
df[df['petal_width']>0.5].iloc[20:30].count()

petal_width    10
dtype: int64

In [ ]:
iris.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [ ]:
iris['type'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: type, dtype: int64

In [ ]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
type            0
dtype: int64